@if (pokemon){
    <div class="bg-black">
      <h1 class="flex items-center mb-6 text-white"><a [routerLink]="['/']" class="btn btn-circle btn-primary mr-2"><img src="img/prime_arrow-up.png" width="64px"></a> {{pokemon.name}} (#{{pokemon.id}})</h1>
      <div class="flex items-center justify-center p-4 relative">
        <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" width="350px" class="max-w-md">
        <div class="absolute top-0 left-0 p-4 flex flex-col gap-2">
          @for (type of pokemon.default_variety.types; track type.id){
            <img [src]="type.sprite_url" [alt]="type.name" class="h-6">
          }
        </div>
      </div>
    </div>
    <br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Informations</h3><br>
    <div class="flex items-center justify-center gap-3">
      <div>
        <b>{{ pokemon.default_variety.height }} m</b>
        <p>Taille</p>
      </div>
      <p>|</p>
      <div>
        <b>{{ pokemon.default_variety.weight }} kg</b>
        <p>Poids</p>
      </div>
    </div><br>
    <div class="flex items-center justify-center gap-3">
      {{ pokemon.default_variety.description }}
    </div><br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Statistiques</h3><br>
    <div class="flex justify-center items-center flex-col">
      <p>PV | {{ pokemon.default_variety.base_stat_hp }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar hp-bar" [style.width.%]="(pokemon.default_variety.base_stat_hp / 255) * 100"></div>
      </div>
      <p>Attaque | {{ pokemon.default_variety.base_stat_attack }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar atk-bar" [style.width.%]="(pokemon.default_variety.base_stat_attack / 255) * 100"></div>
      </div>
      <p>Défense | {{ pokemon.default_variety.base_stat_defense }} </p>
      <div class="stat-bar-container">
        <div class="stat-bar def-bar" [style.width.%]="(pokemon.default_variety.base_stat_defense / 255) * 100"></div>
      </div>
      <p>Att. Spé. | {{ pokemon.default_variety.base_stat_special_attack }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar atk-spe-bar" [style.width.%]="(pokemon.default_variety.base_stat_special_attack / 255) * 100"></div>
      </div>
      <p>Déf. Spé. | {{ pokemon.default_variety.base_stat_special_defense }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar def-spe-bar" [style.width.%]="(pokemon.default_variety.base_stat_special_defense / 255) * 100"></div>
      </div>
      <p>Vitesse | {{ pokemon.default_variety.base_stat_speed }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar speed-bar" [style.width.%]="(pokemon.default_variety.base_stat_speed / 255) * 100"></div>
      </div>
    </div>
    <div class="flex items-center justify-center gap-3">
      <img [src]="pokemon.default_variety.sprites?.front_url" alt="front sprite" class="h-24 w-24 p-1 bg-neutral rounded-lg">
      <img [src]="pokemon.default_variety.sprites?.front_shiny_url" alt="front sprite shiny" class="h-24 w-24 p-1 bg-neutral rounded-lg">
      <img [src]="pokemon.default_variety.sprites?.back_url" alt="back sprite" class="h-24 w-24 p-1 bg-neutral rounded-lg">
      <img [src]="pokemon.default_variety.sprites?.back_shiny_url" alt="back sprite shiny" class="h-24 w-24 p-1 bg-neutral rounded-lg">
    </div>

}
