@if (pokemon){
    <div class="rounded-b-3xl" [ngStyle]="{'background': getBackgroundStyle()}">
      <h1 class="flex justify-between text-white">
        <div class="flex items-center">
            <a class="mr-2 cursor-pointer z-10" routerLink="/"><img src="img/prime_arrow-up.png" width="64px"></a> 
        </div>
        <div>
          <a class="mr-2 cursor-pointer relative z-10"><img src="img/lets-icons_sound-max-fill.png" width="40px" (click)="playSound()"></a>
        </div>
      </h1>
      <div class="flex justify-around -mt-12">
        <div class="basis-1/3 flex flex-col justify-center items-center text-white">
          <p class="text-3xl uppercase">#{{pokemon.id}}</p><br>
          <p class="text-5xl uppercase font-semibold">{{pokemon.name}}</p>
        </div>
        <div class="basis-1/3 flex items-center justify-center p-4 relative">
          <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" width="350px" class="max-w-md">
        </div>
        <div class="basis-1/3 flex justify-center items-center">
          <img [src]="pokemon.default_variety.sprites?.front_shiny_url" alt="front sprite shiny" width="150px">
        </div>
      </div>
    </div>
    <br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Informations</h3><br>
    <div class="flex items-center justify-center gap-3">
      @for (type of pokemon.default_variety.types; track type.id){
        <img [src]="type.sprite_url" [alt]="type.name" width="180px">
      }
    </div><br>
    <div class="flex items-center justify-center gap-3">
      <div class="flex flex-col justify-center items-center mr-32">
        <b class="text-xl">{{ pokemon.default_variety.height }} m</b>
        <p>Taille</p>
      </div>
      <div class="flex flex-col justify-center items-center">
        <b class="text-xl">{{ pokemon.default_variety.weight }} kg</b>
        <p>Poids</p>
      </div>
    </div><br>
    <div class="flex items-center justify-center gap-3">
      {{ pokemon.default_variety.description }}
    </div><br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Statistiques</h3><br>
    <div class="flex justify-center items-center flex-col">
      <p>PV | {{ pokemon.default_variety.base_stat_hp }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar hp-bar" [style.width.%]="(pokemon.default_variety.base_stat_hp / 255) * 100"></div>
      </div>
      <p>Attaque | {{ pokemon.default_variety.base_stat_attack }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar atk-bar" [style.width.%]="(pokemon.default_variety.base_stat_attack / 255) * 100"></div>
      </div>
      <p>Défense | {{ pokemon.default_variety.base_stat_defense }} </p>
      <div class="stat-bar-container">
        <div class="stat-bar def-bar" [style.width.%]="(pokemon.default_variety.base_stat_defense / 255) * 100"></div>
      </div>
      <p>Att. Spé. | {{ pokemon.default_variety.base_stat_special_attack }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar atk-spe-bar" [style.width.%]="(pokemon.default_variety.base_stat_special_attack / 255) * 100"></div>
      </div>
      <p>Déf. Spé. | {{ pokemon.default_variety.base_stat_special_defense }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar def-spe-bar" [style.width.%]="(pokemon.default_variety.base_stat_special_defense / 255) * 100"></div>
      </div>
      <p>Vitesse | {{ pokemon.default_variety.base_stat_speed }}</p>
      <div class="stat-bar-container">
        <div class="stat-bar speed-bar" [style.width.%]="(pokemon.default_variety.base_stat_speed / 255) * 100"></div>
      </div>
    </div><br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Talent</h3><br>
    <div *ngFor="let ability of abilities" class="ability-card text-center">
      <h2 class="uppercase bg-zinc-200 w-40 mx-auto">{{ ability.name }}</h2>
    </div>
    <br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Combat</h3><br>
    <div *ngFor="let type of types" class="ability-card text-center">
      <img [src]="type.sprite_url" [alt]="type.name" width="120px" class="mb-2 mx-auto">
    </div><br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Attaque</h3><br>
    <h3 class="text-center uppercase underline decoration-red-500 font-bold decoration-2">Evolution</h3><br>
    <div *ngIf="pokemonEvolutions" class="text-center">
      <p><strong>ID:</strong> {{ pokemonEvolutions.id }}</p>
      <p><strong>Evolves To:</strong> {{ pokemonEvolutions.evolves_to_id }}</p>
    </div>
    

}
